@model ProfilePasswordEditor

//#if (IsTailwind)
<form asp-action="UpdatePassword" asp-controller="Profile" method="post" class="max-w-2xl flex flex-col space-y-6">
    <div class="mt-6">
        <label asp-for="CurrentPassword" class="block font-medium text-sm text-gray-700">Current Password</label>
        <div class="mt-1">
            <input asp-for="CurrentPassword" type="password" required class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
        </div>
        <div class="mt-1 text-red-500 text-sm">
            @Html.ValidationMessageFor(m => m.CurrentPassword)
        </div>
    </div>
    <div>
        <label asp-for="NewPassword" class="block font-medium text-sm text-gray-700">New Password</label>
        <div class="mt-1">
            <input asp-for="NewPassword" type="password" required class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
        </div>
        <div class="mt-1 text-red-500 text-sm">
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>
    <div>
        <label asp-for="ConfirmPassword" class="block font-medium text-sm text-gray-700">Confirm Password</label>
        <div class="mt-1">
            <input asp-for="ConfirmPassword" type="password" required class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
        </div>
        <div class="mt-1 text-red-500 text-sm">
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div>
        <button type="submit" class="text-left px-4 py-2 bg-indigo-700 hover:bg-indigo-800 rounded-md font-semibold text-xs text-white uppercase tracking-widest focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition">
            Save
        </button>
    </div>
</form>
//#endif
﻿//#if (IsPico)
<form asp-action="UpdatePassword" asp-controller="Profile" method="post">
    <div>
        <label asp-for="CurrentPassword">Current Password</label>
        <input asp-for="CurrentPassword" type="password" required />
        <small>
            @Html.ValidationMessageFor(m => m.CurrentPassword)
        </small>
    </div>
    <div>
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" type="password" required />
        <small>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </small>
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" required />
        <small>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </small>
    </div>
    <div class="grid">
        <button type="submit">
            Save
        </button>
    </div>
</form>
//#endif
﻿//#if (IsBootstrap)
<form asp-action="UpdatePassword" asp-controller="Profile" method="post">
    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label">Current Password</label>
        <input asp-for="CurrentPassword" type="password" required class="form-control" />
        <small class="text-danger">
            @Html.ValidationMessageFor(m => m.CurrentPassword)
        </small>
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label">New Password</label>
        <input asp-for="NewPassword" type="password" required class="form-control" />
        <small class="text-danger">
            @Html.ValidationMessageFor(m => m.NewPassword)
        </small>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" required class="form-control" />
        <small class="text-danger">
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </small>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
//#endif