﻿//#if (IsTailwind)
<nav class="container w-full max-w-6xl mx-auto px-6" x-data="{ desktopMenuOpen: false, mobileMenuOpen: false }">
	<div class="flex justify-between items-center">
		<ul>
			<li class="py-4">
				<a href="/">
					@await Html.PartialAsync("_ApplicationLogo")
				</a>
			</li>
		</ul>
		<ul class="flex-wrap items-center w-auto hidden md:flex space-x-4">
			@if (User.Identity != null && User.Identity.IsAuthenticated)
			{
				<div class="relative ml-3">
					<div>
						<button x-on:click="desktopMenuOpen = true" type="button" class="inline-flex items-center rounded-full bg-transparent" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
							<span class="sr-only">Open user menu</span>
							@User.Identity.Name
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6" /></svg>
						</button>
					</div>
					<div x-cloak x-on:click.outside="desktopMenuOpen = false" x-show="desktopMenuOpen" class="absolute right-0 z-50 mt-2 w-48 origin-top-right shadow-2xl bg-white py-1 border border-gray-600" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
						<div>
							<a href="/dashboard" class="block px-4 py-4 text-gray-600 hover:text-black hover:bg-gray-100" role="menuitem">
								Dashboard
							</a>
							<a href="/profile/edit" class="block px-4 py-4 text-gray-600 hover:text-black hover:bg-gray-100" role="menuitem">
								Profile
							</a>
							<a href="/logout" class="block px-4 py-4 text-gray-600 hover:text-black hover:bg-gray-100" role="menuitem">
								Logout
							</a>
							<p class="text-sm py-2 px-4 border-t">@User.Identity.Name</p>
						</div>
					</div>
				</div>
			}
			else
			{
				<li class="px-2 py-4">
					<a href="/login" class="text-lg font-medium text-indigo-600 hover:text-indigo-700">
						Login
					</a>
				</li>
				<li class="px-2 py-4">
					<a href="/register" class="px-3 py-4 text-lg bg-indigo-600 hover:bg-indigo-700 text-white rounded-md font-medium">
						Register
					</a>
				</li>
			}
		</ul>
		<div class="w-auto md:hidden">
			<button x-on:click="mobileMenuOpen = !mobileMenuOpen" class="text-gray-600 hover:text-black hover:bg-gray-100 bg-transparent p-2">
				<svg x-show="!mobileMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
				</svg>
				<svg x-show="mobileMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
					<path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
				</svg>
			</button>
		</div>
	</div>
	<div x-cloak x-show="mobileMenuOpen" class="lg:hidden bg-white drop-shadow-lg z-50 mb-12" id="mobile-menu">
		<div class="py-3 space-y-1 px-4 md:px-12">
			@if (User.Identity != null && User.Identity.IsAuthenticated)
			{
				<a href="/dashboard" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium">
					Dashboard
				</a>
				<a href="/profile/edit" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium">
					Profile
				</a>
				<a href="/logout" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium">
					Logout
				</a>
				<p class="text-sm px-4 py-2 border-t">@User.Identity.Name</p>
			}
			else
			{
				<a href="/login" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium">Login</a>
				<a href="/register" class="text-gray-600 hover:bg-gray-100 hover:text-black block px-4 py-2 font-medium">Register</a>
			}
		</div>
	</div>
</nav>
//#endif
﻿//#if (IsPico)
<nav class="container" x-data="{ desktopMenuOpen: false, mobileMenuOpen: false }">
	<ul>
		<li>
			<a href="/" class="contrast">
				@await Html.PartialAsync("_ApplicationLogo")
			</a>
		</li>
	</ul>
	<ul>
		@if (User.Identity != null && User.Identity.IsAuthenticated)
		{
			<li>
				<details role="list" dir="rtl">
					<summary aria-haspopup="listbox" role="link">Account</summary>
					<ul role="listbox">
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/profile/edit">Profile</a></li>
						<li><a href="/logout">Logout</a></li>
						<li><small>@User.Identity.Name</small></li>
					</ul>
				</details>
			</li>
		}
		else
		{
			<li><a href="/login">Login</a></li>
			<li><a href="/register" role="button">Register</a></li>
		}
	</ul>
</nav>
//#endif
﻿//#if (IsBootstrap)
<nav class="navbar container">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">
			@await Html.PartialAsync("_ApplicationLogo")
		</a>
		@if (User.Identity != null && User.Identity.IsAuthenticated)
		{
			<div class="btn-group dropstart">
				<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Account
				</button>
				<ul class="dropdown-menu">
					<li><a href="/dashboard" class="dropdown-item">Dashboard</a></li>
					<li><a href="/profile/edit" class="dropdown-item">Profile</a></li>
					<li><a href="/logout" class="dropdown-item">Logout</a></li>
					<li><hr class="dropdown-divider"></li>
					<li class=""><small class="p-2">@User.Identity.Name</small></li>
				</ul>
			</div>
		}
		else
		{
			<div class="">
				<a href="/login" class="me-3">Login</a>
				<a href="/register" class="btn btn-primary">Register</a>
			</div>
		}
	</div>
</nav>
//#endif