@page "/register"
@model Spark.Templates.Blazor.Pages.Auth.RegisterModel
@{
	Layout = "_AuthLayout";
	ViewData["Title"] = "Register";
}
﻿//#if (IsTailwind)
<div class="sm:py-12">
	<section class="w-full sm:max-w-md mx-auto py-20 flex flex-col justify-center items-center">
		<a href="/">
			<img src="/images/logo.png" class="h-20 w-auto" />
		</a>
		<h1 class="text-center mt-6 text-center text-3xl font-bold tracking-tight text-black">
			Create your account
		</h1>
		<form method="post" class="mt-8 flex flex-col py-8 px-4 sm:px-10 bg-white sm:mx-auto sm:w-full sm:max-w-md shadow-lg rounded-md">
			<div class="mb-1 text-red-500 text-sm">
				@Html.ValidationSummary()
			</div>
			<div>
				<label asp-for="Input.Name" class="block font-medium text-sm text-gray-700">Name</label>
				<div class="mt-1">
					<input asp-for="Input.Name" type="text" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Input.Name)
				</div>
			</div>
			<div class="mt-8">
				<label asp-for="Input.Email" class="block font-medium text-sm text-gray-700">Email address</label>
				<div class="mt-1">
					<input asp-for="Input.Email" type="email" autocomplete="email" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Input.Email)
				</div>
			</div>
			<div class="mt-8">
				<label asp-for="Input.Password" class="block font-medium text-sm text-gray-700">Password</label>
				<div class="mt-1">
					<input asp-for="Input.Password" type="password" autocomplete="current-password" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Input.Password)
				</div>
			</div>
			<div class="mt-8">
				<label asp-for="Input.ConfirmPassword" class="block text-sm font-medium text-gray-700">Comfirm password</label>
				<div class="mt-1">
					<input asp-for="Input.ConfirmPassword" type="password" autocomplete="current-password" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-300 text-sm">
					@Html.ValidationMessageFor(m => m.Input.ConfirmPassword)
				</div>
			</div>
			<div class="mt-8 flex justify-end items-center">
				<a href="/login" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					Already registered?
				</a>
				<button type="submit" class="inline-flex items-center px-4 py-2 bg-indigo-700 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 ml-3">
					Create account
				</button>
			</div>
		</form>
	</section>
</div>
//#endif
﻿//#if (IsPico)
<section>
	<a href="/" class="secondary">
		← back to home page
	</a>
	<article>
		<h1>Create your account</h1>
		<form method="post">
			@Html.ValidationSummary()
			<div>
				<label asp-for="Input.Name">
					Name
				</label>
				<input asp-for="Input.Name" type="text" required />
				<small>@Html.ValidationMessageFor(m => m.Input.Name)</small>
			</div>
			<div>
				<label asp-for="Input.Email">
					Email address
				</label>
				<input asp-for="Input.Email" type="email" autocomplete="email" required />
				<small>@Html.ValidationMessageFor(m => m.Input.Email)</small>
			</div>
			<div>
				<label asp-for="Input.Password">
					Password
				</label>
				<input asp-for="Input.Password" type="password" autocomplete="current-password" required />
				<small>@Html.ValidationMessageFor(m => m.Input.Password)</small>
			</div>
			<div>
				<label asp-for="Input.ConfirmPassword">
					Comfirm Password
				</label>
				<input asp-for="Input.ConfirmPassword" type="password" autocomplete="current-password" required />
				<small>@Html.ValidationMessageFor(m => m.Input.ConfirmPassword)</small>
			</div>
			<div class="grid">
				<button type="submit">
					Create account
				</button>
			</div>
		</form>
		<footer>
			<a href="/login" class="secondary">
				Already registered? Sign in
			</a>
		</footer>
	</article>
</section>
//#endif
﻿//#if (IsBootstrap)
<section class="container py-5 my-5">
	<a href="/" class="text-secondary">
		← back to home page
	</a>
	<article class="p-4 my-5 shadow card">
		<h1 class="mb-5 fw-bold">
			Create your account
		</h1>
		<form method="post">
			<div class="mb-1 text-danger">
				<small>
					@Html.ValidationSummary()
				</small>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Name" class="form-label">Name</label>
				<input asp-for="Input.Name" type="text" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Input.Name)</small>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Email" class="form-label">Email address</label>
				<input asp-for="Input.Email" type="email" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Input.Email)</small>
			</div>
			<div class="mb-3">
				<label asp-for="Input.Password" class="form-label">Password</label>
				<input asp-for="Input.Password" type="password" autocomplete="current-password" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Input.Password)</small>
			</div>
			<div class="mb-3">
				<label asp-for="Input.ConfirmPassword" class="form-label">Confirm password</label>
				<input asp-for="Input.ConfirmPassword" type="password" autocomplete="current-password" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.Input.ConfirmPassword)</small>
			</div>
			<button type="submit" class="btn btn-primary">Create account</button>
		</form>
		<div class="mt-5">
			<a href="/login" class="text-secondary">
				Already registered? Sign in
			</a>
		</div>
	</article>
</section>
//#endif