@page "/login"
@model BlazorSpark.Default.Pages.Auth.LoginModel
@{
	Layout = "~/Pages/Auth/_AuthLayout.cshtml";
	ViewData["Title"] = "Login";
}
﻿//#if (IsTailwind)
<div class="sm:py-12">
	<section class="w-full sm:max-w-md mx-auto py-20 flex flex-col justify-center items-center">
		<a href="/">
			<img src="/images/logo.png" class="h-20 w-auto" />
		</a>
		<h1 class="text-center mt-6 text-center text-3xl font-bold tracking-tight text-black">
			Login to your account
		</h1>
		<form method="post" enctype="multipart/form-data" class="mt-6 flex flex-col py-8 px-4 sm:px-10 bg-white sm:mx-auto sm:w-full sm:max-w-md shadow-lg rounded-md">
			<div class="mb-1 text-red-500 text-sm">
				@Html.ValidationSummary()
			</div>
			<div>
				<label asp-for="loginUser.Email" class="block font-medium text-sm text-gray-700">Email address</label>
				<div class="mt-1">
					<input asp-for="loginUser.Email" type="email" autocomplete="email" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.loginUser.Email)
				</div>
			</div>
			<div class="mt-8">
				<label asp-for="loginUser.Password" class="block font-medium text-sm text-gray-700">Password</label>
				<div class="mt-1">
					<input asp-for="loginUser.Password" type="password" autocomplete="current-password" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.loginUser.Password)
				</div>
			</div>
			<div class="mt-8">
				<label for="remember_me" class="inline-flex items-center">
					<input asp-for="loginUser.RememberMe" type="checkbox" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:ring-indigo-500">
					<span class="ml-2 text-sm text-gray-600">Remember me</span>
				</label>
			</div>
			<div class="mt-8 flex justify-end items-center">
				<a href="/register" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					Don't have an account? Sign up
				</a>
				<button type="submit" class="inline-flex items-center px-4 py-2 bg-indigo-700 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 ml-3">
					Login
				</button>
			</div>
		</form>
	</section>
</div>
//#endif
﻿//#if (IsPico)
<section>
	<a href="/" class="secondary">
		← back to home page
	</a>
	<article>
		<h1>Login to your account</h1>
		<form method="post" enctype="multipart/form-data">
			@Html.ValidationSummary()
			<div>
				<label asp-for="loginUser.Email">
					Email address
				</label>
				<input asp-for="loginUser.Email" type="email" autocomplete="email" required />
				<small>@Html.ValidationMessageFor(m => m.loginUser.Email)</small>
			</div>
			<div>
				<label asp-for="loginUser.Password">
					Password
				</label>
				<input asp-for="loginUser.Password" type="password" autocomplete="current-password" required />
				<small>@Html.ValidationMessageFor(m => m.loginUser.Password)</small>
			</div>
			<fieldset>
				<label asp-for="loginUser.RememberMe" class="inline-flex items-center">
					Remember me
					<input asp-for="loginUser.RememberMe" role="switch" type="checkbox">
				</label>
			</fieldset>
			<div class="grid">
				<button type="submit">
					Login
				</button>
			</div>
		</form>
		<footer>
			<a href="/register" class="secondary">
				Don't have an account? Sign up
			</a>
		</footer>
	</article>
</section>
//#endif
﻿//#if (IsBootstrap)
<section class="container py-5 my-5">
	<a href="/" class="text-secondary">
		← back to home page
	</a>
	<article class="p-5 my-5 shadow rounded bg-white">
		<h1 class="mb-5 fw-bold">
			Login to your account
		</h1>
		<form method="post" enctype="multipart/form-data">
			<div class="mb-1 text-danger">
				<small>
					@Html.ValidationSummary()
				</small>
			</div>
			<div class="mb-3">
				<label asp-for="loginUser.Email" class="form-label">Email address</label>
				<input asp-for="loginUser.Email" type="email" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.loginUser.Email)</small>
			</div>
			<div class="mb-3">
				<label asp-for="loginUser.Password" class="form-label">Password</label>
				<input asp-for="loginUser.Password" type="password" autocomplete="current-password" class="form-control" required>
				<small class="text-danger">@Html.ValidationMessageFor(m => m.loginUser.Password)</small>
			</div>
			<div class="mb-3 form-check">
				<input asp-for="loginUser.RememberMe" type="checkbox" class="form-check-input">
				<label asp-for="loginUser.RememberMe" class="form-check-label">Remember me</label>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		<div class="mt-5">
			<a href="/register" class="text-secondary">
				Already registered? Sign in
			</a>
		</div>
	</article>
</section>
//#endif

