@page "/register"
@model BlazorSpark.Pages.Auth.RegisterModel
@{
	Layout = "_AuthLayout";
	ViewData["Title"] = "Register";
}
<div class="min-h-screen flex w-full justify-center items-center bg-gray-100">
	<section class="w-full sm:max-w-md mx-auto py-20 flex flex-col justify-center items-center">
		<a href="/">
			<img src="/images/logo.png" class="h-20 w-auto" />
		</a>
		<h1 class="text-center mt-6 text-center text-3xl font-bold tracking-tight text-black">
			Create your account
		</h1>
		<form method="post" enctype="multipart/form-data" class="mt-8 flex flex-col py-8 px-4 sm:px-10 bg-white sm:mx-auto sm:w-full sm:max-w-md shadow-lg rounded-md">
			<div class="mb-1 text-red-500 text-sm">
				@Html.ValidationSummary()
			</div>
			<div>
				<label asp-for="Input.Name" class="block font-medium text-sm text-gray-700">Name</label>
				<div class="mt-1">
					<input asp-for="Input.Name" type="text" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Input.Name)
				</div>
			</div>
			<div class="mt-8">
				<label asp-for="Input.Email" class="block font-medium text-sm text-gray-700">Email address</label>
				<div class="mt-1">
					<input asp-for="Input.Email" type="email" autocomplete="email" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Input.Email)
				</div>
			</div>
			<div class="mt-8">
				<label asp-for="Input.Password" class="block font-medium text-sm text-gray-700">Password</label>
				<div class="mt-1">
					<input asp-for="Input.Password" type="password" autocomplete="current-password" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Input.Password)
				</div>
			</div>
			<div class="mt-8">
				<label asp-for="Input.ConfirmPassword" class="block text-sm font-medium text-gray-700">Comfirm password</label>
				<div class="mt-1">
					<input asp-for="Input.ConfirmPassword" type="password" autocomplete="current-password" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full" />
				</div>
				<div class="mt-1 text-red-300 text-sm">
					@Html.ValidationMessageFor(m => m.Input.ConfirmPassword)
				</div>
			</div>
			<div class="mt-8 flex justify-end items-center">
				<a href="/login" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					Already registered?
				</a>
				<button type="submit" class="inline-flex items-center px-4 py-2 bg-purple-700 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 ml-3">
					Create account
				</button>
			</div>
		</form>
	</section>
</div>
